In [25]:
import requests
import pandas as pd

def descargar_api_barna(resource_id, nombre_archivo):
    url = "https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search"
    
    limite = 1000
    offset = 0
    registros = []

    while True:
        params = {
            "resource_id": resource_id,
            "limit": limite,
            "offset": offset
        }

        respuesta = requests.get(url, params=params)
        datos = respuesta.json()
        filas = datos["result"]["records"]

        if not filas:
            break

        registros.extend(filas)
        offset += limite

    df = pd.DataFrame(registros)
    df.to_csv(nombre_archivo, index=False)
    return df

In [27]:
df_poblacion_2024 = descargar_api_barna(
    resource_id="fc597601-a291-4811-ad02-c58e32784692",
    nombre_archivo="2024_pad_mdbas.csv"
)

In [ ]:
url1 = 'https://raw.githubusercontent.com/julio-bp/PROYECTO2/refs/heads/main/datos_de_educacion.csv'
df_educacion = pd.read_csv(url1)

In [28]:
df_poblacion_2024

,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,AEB,Seccio_Censal,Valor,Data_Referencia,_id
0,1,Ciutat Vella,1,el Raval,1,1001,1309,2024-01-01T00:00:00,1
1,1,Ciutat Vella,1,el Raval,1,1002,1282,2024-01-01T00:00:00,2
2,1,Ciutat Vella,1,el Raval,2,1003,3500,2024-01-01T00:00:00,3
3,1,Ciutat Vella,1,el Raval,2,1004,2999,2024-01-01T00:00:00,4
4,1,Ciutat Vella,1,el Raval,3,1005,2326,2024-01-01T00:00:00,5
...,...,...,...,...,...,...,...,...,...
1063,10,Sant Martí,73,la Verneda i la Pau,232,10139,1716,2024-01-01T00:00:00,1064
1064,10,Sant Martí,73,la Verneda i la Pau,233,10140,1676,2024-01-01T00:00:00,1065
1065,10,Sant Martí,73,la Verneda i la Pau,233,10141,1175,2024-01-01T00:00:00,1066
1066,10,Sant Martí,73,la Verneda i la Pau,233,10142,1676,2024-01-01T00:00:00,1067
1067,10,Sant Martí,73,la Verneda i la Pau,233,10143,1809,2024-01-01T00:00:00,1068

In [ ]:
df_no_consumo_2020 = descargar_api_barna(
    resource_id="TU_RESOURCE_ID",
    nombre_archivo="no_consumo_2020.csv"
)

In [ ]:
import funciones as fc #importamos el fichero

In [ ]:
# como utilizo una de las funciones?? con el alias y el nombre de la funcion: ej: var = fc.sum_numbers(x,y)